[mysqld]
slow_query_log = 1
slow_query_log-file = /var/log/mysql/mysql-slow.sql
long_query_time = 0.01

# mysqltuner設定
#key_buffer_size=0
innodb_buffer_pool_size = 3G
#innodb_log_file_size = 16M
innodb_log_file_size = 64M
key_buffer_size = 1G
read_buffer_size = 1M
sort_buffer_size = 1M
read_rnd_buffer_size = 4M

# ネットワーク許可
bind-address            = 0.0.0.0
mysqlx-bind-address     = 0.0.0.0

# クライアント設定
[client]
user = isuconp
password = isuconp
